# (1) Copy this file to env.sh
# (2) Edit to replace fake values with real ones from heroku.com 
# (3) Type this before running the java program
#      . env.sh
#
#     Yes, that really is a dot followed by a space followed by env.sh, not a typo
#     It sources the env.sh into the current shell's process.



# The values below are FAKE.  Replace with real values for your database at Heroku.com

export DB_HOST="jdbc:postgresql://ec2-12-34-56-789.compute-1.amazonaws.com:5432/REPLACE-THIS-WITH-REAL-VALUE-FROM-HEROKU"
export DB_USER="REPLACE-WITH-USER-FROM-HEROKU"
export DB_PASS="REPLACE-WITH-PASS-FROM-HEROKU

